<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui fluid container">
      <div class="landing">
        <nav>
          <h2>Meteroite Explorer</h2>

          <div>
            <input id="data" placeholder="Search by Keyword" /><button
              id="search"
            >
              Search
            </button>
          </div>
        </nav>
      </div>

      <table class="ui celled padded table">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Name Type</th>
            <th>Rec Class</th>
            <th>Mass (g)</th>
            <th>Fall</th>
            <th>Year</th>
            <th>Longitude</th>
            <th>Latitude</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <% let responseJSON = JSON.parse(response) %> <% for(let i = 0 ;i <
          50;i++) { %> <% let val = responseJSON[i] %>
          <tr>
            <td>
              <%= val.name %>
            </td>
            <td>
              <%= val.id %>
            </td>
            <td>
              <%= val.nametype %>
            </td>
            <td>
              <%= val.recclass %>
            </td>
            <td>
              <%= val.mass %>
            </td>
            <td>
              <%= val.fall %>
            </td>
            <td>
              <% if(val.year){ %> <%= val.year.slice(0,4) %> <% } %>
            </td>
            <td>
              <% if(val.geolocation){ %> <%= val.geolocation.latitude %> <% } %>
            </td>
            <td>
              <% if(val.geolocation){ %> <%= val.geolocation.longitude %><% } %>
            </td>
          </tr>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="9">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>
                <p>
                  <% let j =JSON.parse(response).length/ 50 %>
                </p>

                <% for(let i = 1; i <= j; i++){ %>
                <a class="item"><%= i %></a>
                <% }%>
                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <script>
      let search = document.getElementById("search");
      let data = document.getElementById("data");
      search.addEventListener("click", function() {
        getData(data.value);
      });

      var newEl = document.createElement("p");
      newEl.innerHTML = "<b>Hello World!</b>";
      let tbody = document.getElementById("tbody");
      console.log(tbody);
      tbody.parentNode.replaceChild(newEl, tbody);

      function getData(query) {
        if (isQueryValidated(query)) {
          fetch(`https://data.nasa.gov/resource/gh4g-9sfh.json?$q=${query}`)
            .then(res => res.json())
            .then(data => console.log(data));
        } else {
          alert("Please Enter Valid Seach: ");
        }
      }
      function isQueryValidated(query) {
        if (typeof query != "string") return false;
        if (query === "") return false;
        return true;
      }
    </script>
  </body>
</html>
