<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="landing">
      <nav>
        <h2>Meteroite Explorer</h2>

        <div>
          <input id="data" placeholder="Search by Keyword" /><button
            id="search"
          >
            Search
          </button>
        </div>
      </nav>
    </div>
    <div class="ui fluid container">
      <table class="ui celled padded table">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Name Type</th>
            <th>Rec Class</th>
            <th>Mass (g)</th>
            <th>Fall</th>
            <th>Year</th>
            <th>Longitude</th>
            <th>Latitude</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <% let responseJSON = JSON.parse(response) %> <% let renderTableData =
          function(min,max,response) { %> <% for(i = min ;i < max-1;i++) { %> <%
          let val = response[i] %>
          <tr>
            <td>
              <% if(val.name) %> <%= val.name %>
            </td>
            <td>
              <%= val.id %>
            </td>
            <td>
              <%= val.nametype %>
            </td>
            <td>
              <%= val.recclass %>
            </td>
            <td>
              <%= val.mass %>
            </td>
            <td>
              <%= val.fall %>
            </td>
            <td>
              <% if(val.year){ %> <%= val.year.slice(0,4) %> <% } %>
            </td>
            <td>
              <% if(val.geolocation){ %> <%= val.geolocation.latitude %> <% } %>
            </td>
            <td>
              <% if(val.geolocation){ %> <%= val.geolocation.longitude %><% } %>
            </td>
          </tr>

          <% } %> <% }%> <%= renderTableData(min,max,responseJSON) %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="9">
              <div class="ui right floated pagination menu">
                <a class="icon item">
                  <i class="left chevron icon"></i>
                </a>

                <a class="icon item">
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <script>
      let search = document.getElementById("search");
      let data = document.getElementById("data");
      let result;

      search.addEventListener("click", async function() {
        result = await getData(data.value);
        console.log('res',result)
        if (!result) {
          let newEl = document.createElement("tr");
          newEl.setAttribute("id", "tbody");
          newEl.innerHTML = "<p>No result Found</p>";
          let tbody = document.getElementById("tbody");
          tbody.parentNode.replaceChild(newEl, tbody);
          return;
        }
        if(result.length > 2){


        let newTbody = document.createElement('tbody')
        result.forEach((result)=>{
          let newEl = document.createElement("tr");
        // newEl.setAttribute("id", "tbody");
        // result.forEach(()=>{


          newEl.innerHTML = `<td>${result.name}</td>
           <td>${result.id}</td>
           <td>${result.nametype}</td>
           <td>${result.recclass}</td>
           <td>${result.mass}</td>
           <td>${result.fall}</td>
           <td>${result.year.slice(0, 4)} </td>
           <td>${result.geolocation.latitude}</td>
           <td>${result.geolocation.longitude}</td>
           `;

           newTbody.appendChild(newEl)

        })
        let tbody = document.getElementById("tbody");
        tbody.parentNode.replaceChild(newTbody, tbody);
      }
      else {
         result = result[0]
            let newEl = document.createElement("tr");
        newEl.setAttribute("id", "tbody");


          newEl.innerHTML = `<td>${result.name}</td>
           <td>${result.id}</td>
           <td>${result.nametype}</td>
           <td>${result.recclass}</td>
           <td>${result.mass}</td>
           <td>${result.fall}</td>
           <td>${result.year.slice(0, 4)} </td>
           <td>${result.geolocation.latitude}</td>
           <td>${result.geolocation.longitude}</td>
           `;
           let tbody = document.getElementById("tbody");
        tbody.parentNode.replaceChild(newEl, tbody);

      }




      });

      const aRef = document.querySelectorAll("a");
      for (x of aRef) {
        x.addEventListener("click", function() {
          <% let lower = min + 50%>
          <% min = lower%>
          <% let upper = max + 50 %>
          <% max = upper%>
          <% console.log(min +" " +  max ) %>
          let newEl = document.createElement("tbody");

          newEl.innerHTML = `<%= renderTableData(lower,upper,responseJSON)%>`;
          newEl.setAttribute("id", "tbody");
          let tbody = document.getElementById("tbody");
          tbody.parentNode.replaceChild(newEl, tbody);
        });
      }

      async function getData(query) {
        let queryResult;
        if (isQueryValidated(query)) {
          queryResult = fetch(
            `https://data.nasa.gov/resource/gh4g-9sfh.json?$q=${query}`
          )
            .then(res => res.json())
            .then(data => data)
            .catch(e => {
              console.log("malfomed data", e);
            });
          return await queryResult;
        } else {
          location.reload(true);
        }
      }
      function isQueryValidated(query) {
        if (typeof query != "string") return false;
        if (query === "") return false;
        return true;
      }
    </script>
  </body>
</html>
